# NinjaOne API (leave empty to use mock data)
NINJAONE_API_URL=https://ninjanf.rmmservice.eu/v2
NINJAONE_CLIENT_ID= _KXV16KhutrPyoAo4g0DtGqSxwU
NINJAONE_CLIENT_SECRET=aQj51dPAxWAH77mQ7nXUdu0FWACzN2P7J3PzwQ9io9WpOzZhpOfFXg
NINJAONE_API_KEY=

# Server
PORT=3001

# Scheduler (cron expression, default: every 4 hours)
CHECK_CRON=0 */4 * * *
NINJA_SYNC_CRON=0 2 * * *

# Notifications
WEBHOOK_URL=
SLACK_WEBHOOK_URL=
